@font-face {
	font-family  : 'Univers for KPMG';
	src          : url('./fonts/UniversforKPMG-Light.woff2') format('woff2'), url('./fonts/UniversforKPMG-Light.woff') format('woff');
	font-weight  : 300;
	font-style   : normal;
	font-display : swap;
}



@font-face {
	font-family  : 'Univers for KPMG';
	src          : url('./fonts/UniversforKPMG.woff2') format('woff2'), url('./fonts/UniversforKPMG.woff') format('woff');
	font-weight  : normal;
	font-style   : normal;
	font-display : swap;
}



@font-face {
	font-family  : 'Univers for KPMG';
	src          : url('./fonts/UniversforKPMG-Bold.woff2') format('woff2'), url('./fonts/UniversforKPMG-Bold.woff') format('woff');
	font-weight  : bold;
	font-style   : normal;
	font-display : swap;
}



@font-face {
	font-family  : 'Univers for KPMG';
	src          : url('./fonts/UniversforKPMG-Black.woff2') format('woff2'), url('./fonts/UniversforKPMG-Black.woff') format('woff');
	font-weight  : 900;
	font-style   : normal;
	font-display : swap;
}



//@font-face {
//	font-family  : 'Univers for KPMG';
//	src          : url('fonts/UniversforKPMG-BlackOblique.woff2') format('woff2'), url('fonts/UniversforKPMG-BlackOblique.woff') format('woff');
//	font-weight  : 900;
//	font-style   : italic;
//	font-display : swap;
//}

//@font-face {
//	font-family  : 'Univers for KPMG Cond';
//	src          : url('fonts/UniversforKPMG-Cond.woff2') format('woff2'), url('fonts/UniversforKPMG-Cond.woff') format('woff');
//	font-weight  : normal;
//	font-style   : normal;
//	font-display : swap;
//}

//@font-face {
//	font-family  : 'Univers for KPMG';
//	src          : url('fonts/UniversforKPMG-BoldOblique.woff2') format('woff2'), url('fonts/UniversforKPMG-BoldOblique.woff') format('woff');
//	font-weight  : bold;
//	font-style   : italic;
//	font-display : swap;
//}

//@font-face {
//	font-family  : 'Univers for KPMG';
//	src          : url('fonts/UniversforKPMG-Oblique.woff2') format('woff2'), url('fonts/UniversforKPMG-Oblique.woff') format('woff');
//	font-weight  : normal;
//	font-style   : italic;
//	font-display : swap;
//}

//@font-face {
//	font-family  : 'Univers for KPMG';
//	src          : url('fonts/UniversforKPMG-LightOblique.woff2') format('woff2'), url('fonts/UniversforKPMG-LightOblique.woff') format('woff');
//	font-weight  : 300;
//	font-style   : italic;
//	font-display : swap;
//}

